<link rel="stylesheet" href="/css/post.css">
<li id="post-<%= post._id %>" class="post-list">
    <p>
        <div class="post-data">
            <div class="post-content">
                <%= post.content %>
                <% if(locals.user && locals.user.id === post.user.id) { %>
                    <small style="padding-left: 5;">
                        <a href="/post/destroy/<%= post.id %>" class="delete-post-button">
                            <svg style="color: red;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </small>
                <% } %>
        </div>
        <br>
        <a href="/user/profile/<%= post.user.id %>" style="text-decoration: none;">
            <img class="post-image" src="<%= post.user.profilePicture %>" alt="<%= post.user.name %>" width="75px" height="50px">
            <span class="post-username">
                <small>
                    <%= post.user.name %>
                </small>
            </span>
        </a>
        <br>
        <br>
        <small>
            <% if(locals.user) { %>
                <span style="color: white; background-color: navy; margin-right: 5px;">
                    <%= post.likes.length %>
                </span>
                <% if(post.likes.find(x => x.user.toString() == locals.user.id)) { %>
                    <button>
                        <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/like/toggle-like/?id=<%= post._id%>&type=Post">
                            Unlike
                        </a>
                    </button>
                <% } else { %>
                    <button>
                        <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/like/toggle-like/?id=<%= post._id%>&type=Post">
                            Like
                        </a>
                    </button>
                <% } %>
            <% } else { %>
                <%= post.likes.length %> Likes
            <% } %>
        </small>
        </div>
    </p>
    <div id="post-comment">
        <% if(locals.user) { %>
            <form action="/comment/create" method="post">
                <input type="text" name="content" placeholder="Add comment..." required>
                <input type="hidden" name="postId" value="<%= post._id %>">
                <button class="btn btn-success btn-sm" style="margin-bottom: 4px;">Comment</button>
            </form>
        <% } %>
        <div id="post-comment-list">
            <ul id="post-comments-<%= post._id %>">
                <% for(comment of post.comments) { %>
                    <%- include('_comment') %>
                <% } %>
            </ul>
        </div>
    </div>
</li>