<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- path relative to directory in express.static() -->
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <%# _header.ejs will be inserted here %>
        <%- include('_header'); -%>

        <% if(flash.success && flash.success.length > 0) { %>
            <h5><%= flash.success %></h5>
        <% } %>
        
        <%# variable part will be inserted here %>
        <%# body is inbuilt variable %>
        <main id="layout-main">
            <%- body %>
        </main>
        
        <%# _footer.ejs will be inserted here %>
        <%- include('_footer'); -%>
        
        <%- script %>
    </body>
</html>