<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- path relative to directory in express.static() -->
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <%- style %>
    </head>
    <body>
        <%# _header.ejs will be inserted here %>
        <%- include('_header'); -%>

        
        
        <%# variable part will be inserted here %>
        <%# body is inbuilt variable %>
        <main id="layout-main">
            <%- body %>
        </main>
        
        <%# _footer.ejs will be inserted here %>
        <%- include('_footer'); -%>
        
        <%- script %>

        <%# flash is added to locals in middleware.js %>
        <% if(flash.success && flash.success.length > 0) { %>
            <h5>
                <%# e.g. if sign in is successfull, this will be displayed %>
                <%= flash.success %>
            </h5>
        <% } %>
        <% if(flash.error && flash.error.length > 0) { %>
            <h5>
                <%# e.g. if error in sign, this will be displayed %>
                <%= flash.error %>
            </h5>
        <% } %>

    </body>
</html>